# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Linux
*~
*.sw[a-p]
.directory

# Windows
Thumbs.db
Desktop.ini

# QtCreator project files
*.pro.user
*.pro.user*
*~

